extends ../layouts/base

block content
    div.main
        h3 Últimas salas
        div(class="list_group",id="list-rooms")
        div.input-group
            input(type="text",id="roomName",class="form-control",placeholder="Nombre de la sala",name="roomname")
            div.input-group-btn
                button(class="btn btn-primary",id="addRoom") Añadir nueva sala

block append footerscripts
    script(type="text/javascript",src="/js/hall.js")