doctype html
<!--if[lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--if[IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--if[IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--if[gt IE 8]>html class="no-js" lang="es"><![endif]-->
html(xml:lang="es", lang="es")
    head
        title!= title
        meta(http-equiv="author", content="Marc Garcia")
        meta(http-equiv="description",content="")
        meta(charset="utf8")
        meta(http-equiv="Content-Type",content="text/html;encoding=utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        block headstyles
            link(type="text/css", href="/css/bootstrap.min.css", rel="stylesheet", media="screen")
            link(type="text/css", href="/css/bootstrap-theme.min.css", rel="stylesheet", media="screen")
            link(type="text/css", href="/css/tabdrop.css", rel="stylesheet", media="screen")
            link(type="text/css", href="/css/font-awesome.min.css", rel="stylesheet", media="screen")
            link(type="text/css", href="/css/main.css", rel="stylesheet", media="screen")
        block headscripts
            script(type="text/javascript",src="//code.jquery.com/jquery-1.10.2.min.js")
            script(type="text/javascript",src="/js/bootstrap.min.js")
            script(type="text/javascript",src="/js/bootstrap-tabdrop.js")

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    body(data-ui-quirks="true")
        div#wrap
            div(class="navbar navbar-inverse navbar-fixed-top",role="navigation")
                div.container
                    div.navbar-header
                        a.navbar-brand(href="/") BootsChat
                    div.navbar-collapse.collapse
                        if user
                            div.welcome
                                b #{user.email}
                                a(class="btn btn-danger") Logout
            div#content.container-fluid: block content
        footer(id="footer",class="navbar navbar-fixed-bottom"): block footer
            div.container
                p.text-muted &copy; Marc Garcia 2014
    block footerscripts
        // Bring in the socket.io client
        script(type="text/javascript", src="/js/socket.io.js")
        // then beef it up with some convenience logic for talking to Sails.js'
        script(type="text/javascript", src="/js/sails.io.js")
        script(type="text/javascript", src="/libs/namespaces.js")
        script(type="text/javascript",src="/js/ui.js")